@model TechTree.Application.Dtos.CategoryItemDtos.CreateCategoryItemDto

<div class="col-12 mt-5">
    <h4>Create New Category Item</h4>
    <form asp-action="Add" method="post" class="w-50 mt-5">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Release Date</label>
            <input type="date" asp-for="ItemReleasedDate" class="form-select" />
        </div>
        <div class="form-group">
            <label>Media Type</label>
            <select asp-for="MediaTypeId" class="form-select">
                --Please Select a Media Type--
                @foreach (var item in ViewBag.mediaTypes)
                {
                    <option value="">--Please Select a Media Type--</option>
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-4">Add</button>
        </div>
    </form>
    <div class="form-group mt-3">
        <a asp-action="Index" asp-controller="CategoryItem" asp-route-id="@Model.CategoryId" class="link-info text-warning">Back to List</a>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}